*{
    
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body {
    background-image: url(../imagem/background1\ \(2\).jpg);
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;

}
header h1{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

header{ 
    box-shadow: 0px 4px 15px 3px black;  
    background-color: rgb(86, 91, 240);
    color: white;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    align-content: center;
    transition: 0.3s;
    width: 100%;
}

.corpo{
    background-color: rgba(46, 50, 160, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 50px;
}

main{
    display: flex;
    flex-direction: row;
    align-items;
    gap: 40px;
    text-align: center;
    margin-top: 70px;
  
}

#calculo{
    padding: 40px;
    height: 420px;
    width: 300px;
    background-color: rgb(129, 129, 253);
    background-image: linear-gradient(to top left, #abbfe8,  rgb(92, 97, 241));
    text-align:center;
    
    border: 4px;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    box-shadow: 0px 4px 15px 3px black;
    
}
#calculo h2{
    padding-bottom: 50px;
}
.formularios{
    align-items:flex-end;
    display: flex;
    flex-direction:column;
}
#salario{
    width: 100px;
}
#dependentes{
    width: 60px;
}

.formulario1{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
  
}

.formulario2{
    margin-top: 40px;
    display:flex;
    flex-direction: row;
}

.valeTransporte{
    padding-top: 20px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: row;
}
.botao{
    padding-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calcular{
    margin-top: 40px;
    width: 190px;
    height:50px; 
    border-radius: 10px;
    border-color: black; 
    background-color: #f5f5f5;
    cursor: pointer;  
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#calculo label{
    color: rgb(8, 8, 8);
}
.gap{
    height: 20px;
}
.gap2{
    height: 20px;
}
.gap3{
    height: 20px;
}

#resultado2{
    background-color: rgb(129, 129, 253);
    background-image: linear-gradient(to top left, #abbfe8, rgb(92, 97, 241));
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 300px;
    border: 4px;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    line-height: 20px;
    box-shadow: 0px 4px 15px 3px black;
}

#resultado h1{
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding-left: 50px;
    margin-top: 40px;
    text-align: justify;
    line-height: 80px;
}

#resultado table{
    background-color:black;
    width: 250px;
    margin-left: 65px;
    margin-top: 20px;
    border-radius: 5px;
    color: black;
}


tr{
    text-align: left;
}


td{
    background-color: #fffde6;
    border:1px;
    padding: 10px; 
}

#resultado button{  
    margin-left: 95px;
    margin-top: 57px;
    width: 190px;
    height:50px; 
    border-radius: 10px;
    border-color: black; 
    background-color: #f5f5f5;
    cursor: pointer;  
}

footer{
    background-color: rgb(92, 97, 241);
    box-shadow: 0px 0px 15px 3px black;
    color: white;
    display:flex;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
}